name: Build and Push Metrics Image to Docker Hub

on:
    push:
        branches:
            - NONE (CHANGE LATER)

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build and push Docker image
              run: |
                docker buildx build --platform linux/amd64 -t shhmon/metrics:latest --push .
           